// @keyframes showDropdown {
//   to {
//
//   }
// }

.nav {

  // scss-lint:disable ImportantRule
  li {
    position: relative;
    overflow: hidden;

    &:hover {
      overflow: visible;

      .dropdown {
        transform: translateY(0);
        opacity: 1;
      }

    }

  }

  .dropdown {
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
    transition: $transition-primary;
    padding: 10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: $border-radius-large;
    background: $color-white;
    box-shadow: $box-shadow-large;
    width: 240px;
    max-width: 240px;

    // scss-lint:disable ImportantRule
    a {
      font-size: $font-size-base - 2;
      padding: 10px 14px;
      background: transparent;
      transition: $transition-primary;
      color: $color-gray !important;
      opacity: 1 !important;
      border-radius: $border-radius-large;
      // scss-lint:disable ImportantRule
      &:hover {
        background: $color-transparent-alt-light;
        color: $color-black !important;
        text-decoration: none;
      }
    }

  }

}

// scss-lint:disable NestingDepth,SelectorDepth
.navbar-default {
  > .container {
    position: relative;
  }

  .navbar-collapse {
    @media (max-width: $screen-sm-max) {
      max-height: none;
      text-align: center;
    }
  }

  .navbar-brand {
    @media (min-width: $screen-md-min) {
      padding-right: 0;
      margin-right: -20px;
    }

    .wordmark {
      transition: fill .3s;
    }

    &:focus,
    &:hover {
      outline: 0;

      .wordmark {
        fill: $color-primary-alt;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    @media (min-width: $screen-md-min) {
      float: right;
    }

    > li {
      &.active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: -1px;
          height: 4px;
          background-color: $color-primary;
        }
      }

      &:last-child {
        border-bottom: 2px solid $color-primary;

        @media (min-width: $screen-md-min) {
          border-bottom: 0;
        }
      }

      > a {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }

        @media (min-width: $screen-md-min) {
          padding: 15px 10px;
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }

    .sign-in-up-btn,
    .explore-btn {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      color: $color-primary;
      font-weight: 600;

      @media (min-width: $screen-md-min) {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.is-last {
        @media (min-width: $screen-md-min) {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

    .explore-btn {
      margin-right: 18px;
    }
  }
}
// scss-lint:enable NestingDepth,SelectorDepth
