- team = Gitlab::Homepage::Team.new

.country.member{id: 'countries'}
  .card
    .extra
      .member-header
        = image_tag "/images/windmill.png", alt: 'GitLab Countries and Regions', width: 120, height: 120, class: 'member-id'
        .info
          .h3 GitLab Countries and Regions
          %h5
            We currently have team members in #{team.countries.size} countries and/or regions.
      .bio
        .row
          - team.countries.each do |country|
            .col-sm-4
              = country
      %a.close-modal.fas.fa-times{ href: "#close-modal" }
